# Force LF line endings, needed for Docker to work on Windows
*.sh text eol=lf

# Explicit examples
*.md      text eol=lf
*.yml     text eol=lf
*.yaml    text eol=lf
*.html    text eol=lf
*.liquid  text eol=lf
*.css     text eol=lf
*.js      text eol=lf